In [ ]:
import pandas as pd


mydataset = {
    "cars": [
        {"name": "Ford", "year": 2010, "price": 20000},
        {"name": "Toyota", "year": 2012, "price": 18000},
        {"name": "Honda", "year": 2015, "price": 22000},
    ]
}
print(mydataset) #prints dictionary
myvar = pd.DataFrame(mydataset)
print(myvar) #prints DataFrame

In [ ]:
# dataset
data = {
    'student': ['Anit', 'John', 'Jacob', 'David', 'Steve'],
    'rank': [4, 2, 5, 3, 1],
    'marks': [85, 90, 78, 88, 92],
    'age': [20, 21, 19, 22, 20]
    }

res = pd.DataFrame(data)
print("Student Records\n\n", res)